.Table_class {
	margin-bottom: 20px;
	border-collapse: separate; 
  empty-cells: hide;
  background: #4c78cc;
}
.Table_class tr {
	font-weight: bold;
	padding: 5px;
	border: 2px solid #FFD700;
}
.Table_class td {
	border: 1px solid #888888;
	padding: 5px;
}