.Table_class {
  margin-bottom: 20px;
  border-collapse: separate; 
  empty-cells: hide;
  background-color: #F0E68C;
}
.Table_class tr {
  font-weight: bold;
  padding: 3px;
  border: 2px groove #FFD700;
  transition: all 5s;
}
.Table_class td {
  border: 1px solid #888888;
  padding: 5px;
}